/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

  @media (min-width: 1281px) {
  
    .container {
      max-width: 1170px;
    }

    .site-logo {
      padding-top: 20px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-left: 0px;
      img {
        max-width: 165px;
        top:4px;
        position: relative;
      }
    }
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    

    header#mobile-navbar{
      width: 100%;
      background: white;
      height: 6.5vh;
      z-index: 1;
      box-shadow: 0px 5px 20px -15px #575757;
      position: fixed;
      top: -65px;
      transition: top 0.3s;
      .button_container {
        position: relative;
        float: right;
        top: 15px;
        right: 0;
        width: 30px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;

        &:hover {
          opacity: .7;
        }
        
        &.active {
          position: fixed;
          right: 15px;
          .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #fff;
          }
          .middle {
            opacity: 0;
            background: #fff;
          }
          
          .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            top: 22px;
            background: #fff;
          }
        }
          
        span {
          background: #000;
          border: none;
          height: 2px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition:  all .35s ease;
          cursor: pointer;
          
          &:nth-of-type(2) {
            top: 9px;
          }
          
          &:nth-of-type(3) {
            top: 18px;
          }
        }
      }
    
      .overlay {
        position: fixed;
        background: #000;
        top: 0;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.8);
        visibility: hidden;
        transition: background-color .35s, visibility .35s, height .35s;
        overflow: hidden;
        
        &.open {
          background-color: rgba(0, 0, 0, 0.8);
          visibility: visible;
          height: 100%;
        
        li {
          animation: fadeInRight .5s ease forwards;
          animation-delay: .35s;
          
          &:nth-of-type(2) {
            animation-delay: .4s;
          }
          &:nth-of-type(3) {
            animation-delay: .45s;
          }
          &:nth-of-type(4) {
            animation-delay: .50s;
          }
          &:nth-of-type(5) {
            animation-delay: .55s;
          }
          &:nth-of-type(6) {
            animation-delay: .60s;
          }
          &:nth-of-type(7) {
            animation-delay: .65s;
          }
        }
      }
      nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: 800;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
      
        li {
          display: block;
          height: 5%;
          height: calc(100% / 10);
          min-height: 50px;
          position: relative;
          opacity: 0;
          
          a {
            display: block;
            position: relative;
            color: #fff;
            text-decoration: none;
            overflow: hidden;
            
            &:hover:after,
            &:focus:after,
            &:active:after {
                width: 100%;
          }
          
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: #0366d6;
            transition: .35s;
          }
        }
      }
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}    

   

    section#portfolio{
      padding: 4rem 0;
      .portfolioItems{
        position: relative;
        z-index: 0;
      }
    } 

    section#hero{
      .main-banner{
        height: 72vh;
        .my-intro{
          margin-top: 6rem;
          h4{
            font-size: 1.2rem;
          }
        }
      }
      
    }

    h1{
      font-size: 2.5rem;
    }

    h2{
      font-size: 28px;
    }
    
    section#contact{
      padding: 4rem 0 0;
      .contactDetails{
        .contactInfo {
          padding: 2rem 1rem 0rem;
          i{
            font-size: 1.8rem;
          }
          p{
            font-size: 0.9rem;
          }
        }
        .contactForm{
          padding: 4rem 2rem 4rem;
          input{
            padding-top: 2rem;
          }
        }
      }
    }

    section#aboutMe{
      padding: 3rem 0;
      .about-info{
          padding: 4rem 2rem 0;
          text-align: center;
          p{
            font-size: 0.8rem;
            line-height: 1.5rem;
          }
      }
      .my-portrait{
        padding: 2rem 0 0 0;
      }
    }

    section#testimonial{
      .carousel-indicators{
        z-index: 0;
      }
    }

    section#skillsContainer{
      i{
        font-size: 2rem;
      }
      .mySkills{
        padding: 3rem 0 0;
        .serviceContainer{
          padding-right: 15px;
          h5{
            font-size: 1rem;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }

    footer{
      margin: 0;
      .rightCandidate{
        padding-right: 0;
        p{
          font-size: 12px;
          line-height: 1.6rem;
        }
      }
      h3{
        font-size: 1.1rem;
      }
      .rightCandidate{
        ul{
          padding: 0;
          li{
            list-style-type: none;
            a{
              font-size: 12px;
            }
          }
        }
      }
    }

    
  }
  