/*--------------------
My Icons
--------------------*/

@mixin box-shadow {
    box-shadow: 0px 5px 20px -15px #575757;
}

/*--------------------
General styles
--------------------*/

$primary-color: #8a292a;
$footer-text--color: #c28d8d;

$daxRegular: 'Dax-Regular';
$daxLight: 'Dax-Light';
$daxMedium: 'Dax-Medium';
$daxBold: 'Dax-Bold';
$daxExtraBold: 'Dax-ExtraBold';

