


/*--------------------
General styles
--------------------*/

$mf-primary-color: #0366d6;
$mf-secondary-color: #005bc1;

$mf-title-font: 'Poppins', sans-serif;
$mf-body-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
